doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{nameSite} | #{page} 
        link(href='https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap' rel='stylesheet')
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/style.css")
    body(class= clase) 
        include ./layout/header 

        .container
            .row.justify-content-center.align-items-center.text-center.py-4

                .col-md-3
                    img(src="/img/404.jpg", alt="Not Found",class='img-fluid mb-4')
                
                .cold-md-3
                    p.font-weight-bold.display-4
                        | No podemos encontar la página solicitada, puede no estar disponible, o haber cambiado de URL
        
        include ./layout/footer 