extends ./layout/index


block content
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen sobre Nosotros", class="img-fluid")
            .col.md-7
                h1= pagina
                blockquote  Lerunt ut do. Anim cillum dolor laboris cillum exercitation pariatur voluptate exercitation nostrud occaecat tempor officia minim. Est nisi veniam officia nostrud laboris reprehenderit consectetur eiusmod esse qui consequat nulla. Aute aliqua Lorem cupidatat in exercitation laborum ut consequat cillum tempor.

                p  Enim ex fugiat velit. Duis do ipsum laboris non magna aliqua excepteur laborum aliquip irure irure minim. Dolore labore in esse sit nostrud sit consequat Lorem et laboris fugiat. Consectetur velit veniam eu quis aliquip magna.

                p Officia laborum qui laborum non. Sunt id ad culpa ullamco elit minim officia elit quis anim mollit deserunt officia anim. Cillum nisi consectetur laboris excepteur eu. Et aliqua incididunt do amet nostrud esse dolore amet. Duis proident ea nisi laboris id non aliqua officia. Fugiat et commodo irure adipisicing.

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class='img-fluid mb-4') 
                    h2.mb-4 Seguridad
                    p Oia laborum qui laborum non. Sunt id ad culpa ullamco eat velit. Duis do ipsum laboris non magna aliqua excepteur laborum

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class='img-fluid mb-4') 
                    h2.mb-4 Mejores Destinos
                    p Oia laborum qui laborum non. Sunt id ad culpa ullamco eat velit. Duis do ipsum laboris non magna aliqua excepteur laborum

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class='img-fluid mb-4') 
                    h2.mb-4 Mejores Precios
                    p Oia laborum qui laborum non. Sunt id ad culpa ullamco eat velit. Duis do ipsum laboris non magna aliqua excepteur laborum
